body{
  text align:center;
  background:linear-gradient( #E1BEE7 0%,#90CAF9 100%)
}
h1{
  text-shadow:2px 2px #F8BBDO
    font-size:20px;
}
#bio{
  padding:20px;
  font-size:18;
  text-align:center;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}